
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
//   max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-container p {
  font-size: large;
  color: #333;
}

.result-btn{
    display: flex;
    font-weight: bold;
    justify-content: center;
    width: 100%;
    // background-color: red; 
    align-items: center;
    padding: 16px;

    button {
        font-weight: bold;
        background-color: #F8F8FF;
        width: 100%;
    }
}